{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
   
   <h1>  {{app.user.pseudo }} </h1>
   <p>
   Email : {{app.user.email}}<br />
   Date de naissance : {{ app.user.dateNaissance | date('d/m/Y')}}
    
   
 
   </p>
 
{% endblock %}